@model ICYL.BL.PaymentConfig
@using EnterpriseLayer.Utilities;
@using System.Web.Mvc;
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
<div id="divGHeader" class="modal-header ">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">ADD NEW TRANSACTION</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-danger" id="hErrorMsg"></h3>
            <h3 class="text-success" id="hSuccessMsg"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("ManualTransactionPost", "Admin", FormMethod.Post, new { id = "AddTran", @class = "form-horizontal", @role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, String.Empty, new { @class = "text-danger" })

                @*<div id="dvMessage"></div>*@
                if (Model != null)
                {
                    @Html.HiddenFor(model => model.PaymentConfigId, new { id = "hfPaymentConfigId" })

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                @Html.TextBoxFor(model => model.AmtDonation, new { id = "AmtDonation", @placeholder = "Amount", @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.AmtDonation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.lkpDonationCategory, new SelectList(Model.lstCategory, "Value", "Text", Model.lkpDonationCategory), "DONATION CATEGORY", new { @class = "form-control single-line", id = "lkpDonationCategory" })
                                @Html.ValidationMessageFor(x => x.lkpDonationCategory, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.RadioButtonFor(model => model.PaymentType, "7")  <label class="control-label">Cash</label>
                                @Html.ValidationMessageFor(x => x.PaymentType, " ", new { @class = "text-danger" })
                                @Html.RadioButtonFor(model => model.PaymentType, "8")  <label class="control-label">Check</label>
                                @Html.ValidationMessageFor(x => x.PaymentType, " ", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Name:</label>
                            @Html.DisplayFor(model => model.FullName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Company Name:</label>
                            @Html.DisplayFor(model => model.CompanyName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Email:</label>
                            @Html.DisplayFor(model => model.EmailId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Phone:</label>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Billing Info:</label>
                            @Html.DisplayFor(model => model.FullBillingAddress)
                        </div>
                        <div class="col-md-6">
                            <label>Mailing Info:</label>
                            @Html.DisplayFor(model => model.FullBillingAddress)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button id="btnAddTran" class="btn btn-primary" type="submit" title="Add Transaction">Save</button>
                    </div>
                }
            }
        </div>
    </div>
</div>
@Styles.Render("~/plugins/toastrStyles")
@Scripts.Render("~/plugins/toastr")

<script type="text/javascript">
    $(document).ready(function () {
        $('.mAddTran').on('submit', '#AddTran', function (e) {
            var url = $('#AddTran')[0].action;
            $.ajax({
                type: "POST",
                url: url,
                data: $('#AddTran').serialize(),
                success: function (data) {
                    if (data.status != null) {
                        if (data.status) {
                            $("#hSuccessMsg").html(data.Msg);
                            $("#hErrorMsg").html('');
                        }
                        else {
                            $("#hErrorMsg").html('An error occured while saving the Transaction');
                            $("#hSuccessMsg").html('');
                        }
                    }
                    else {
                        $.each(data, function () {
                            $("#hErrorMsg").html(this.ErrorMessage);
                            $("#hSuccessMsg").html('');
                        });
                    }
                }
            })
            e.preventDefault();
        });
    });

</script>
